:host {
  display: block;
  background: white;
  border-radius: .6rem;
  border: .1rem solid #F7B800;
  color: black;
  text-align: center;
  padding: 1rem 0;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &--item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.img {
  width: 15%;
  aspect-ratio: 3 / 6;
  object-fit: contain;
  align-self: center;
}
