<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="m-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteSelectedCategories()"
                    [disabled]="!selectedCategories || !selectedCategories.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                        class="mr-2 inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                  (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="categories" [columns]="cols" responsiveLayout="scroll" [rows]="10"
               [globalFilterFields]="['name','isActive']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
               [showCurrentPageReport]="true"
               currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} itens"
               [(selection)]="selectedCategories" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gerencie as Categorias</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                   class="w-full sm:w-auto"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code">Id
              <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="name">Nome
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="isActive">Status
              <p-sortIcon field="isActive"></p-sortIcon>
            </th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <td>
              <p-tableCheckbox [value]="category"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
              {{ category.id }}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Name</span>
              {{ category.name }}
            </td>
            <td>
              {{ category.isActive ? 'Ativado' : 'Desativado'}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editEntity(category)"></button>
                <button *ngIf="category.isActive; else active" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteEntity(category)"></button>

                <ng-template #active>
                  <button *ngIf="category.isActive; else active" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                          (click)="activate(category)"></button>
                </ng-template>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="isCreating" [style]="{ width: '450px' }" header="Criar categoria" [modal]="true"
              class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field px-3" [formGroup]="formGroup">
          <label for="name">Nome</label>
          <input type="text" pInputText id="name" autofocus formControlName="name"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !formGroup.valid">Informe o nome.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" [disabled]="formGroup.invalid" icon="pi pi-check" class="p-button-outlined p-button-success" (click)="saveCategory()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="isEdit" [style]="{ width: '450px' }" header="Editar categoria" [modal]="true"
              class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field px-3" [formGroup]="formGroup">
          <label for="name">Nome</label>
          <input type="text" pInputText id="name" autofocus formControlName="name"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !formGroup.valid">Informe o nome.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-outlined p-button-success" [disabled]="formGroup.invalid" (click)="saveEditCategory()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteCategoryDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="category">Tem certeza que deseja desativar a categoria: <b>{{ category.name }}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteCategoryDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteCategoriesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Tem certeza que deseja desativar essas categorias?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteCategoriesDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
