.pizza-card {
  background: white;
  border-radius: .6rem;
  border: .1rem solid #F7B800;
  color: black;
  text-align: center;
  padding-top: 1rem;

  &--name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &--info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 1rem;

    &--ingredients {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin-top: 2rem;

      &--title {
        font-size: 1.2rem;
      }
    }

    &--img {
      width: 100%;
      height: 100%;
      max-width: 15rem;
      max-height: 15rem;
      border-radius: 0.5rem;
    }
  }
}
